#item_card{
    transition: transform;
    transition-timing-function: ease;
    transition-duration: 400ms;
}
#item_card:hover{
    transform: scale(1.1);   
    cursor: pointer;
}
#item_card:active{
    transform: scale(0.9); 
}