<div class="container-fluid" style="background-color: rgb(217, 223, 218);">
    <div class="mx-5">
        <h3>Get the FreshCart app</h3>
        <p>We will send you a link, open it on your phone to download the app.</p>
    </div>
    <div class="row d-flex justify-content-center my-4">
        <div class="col-9"> 
            <input class=" form-control form-outline" placeholder="Email">
        </div>
            <button class="col-auto btn mx-2" style="background-color: rgb(8, 172, 10); color: white;">Share App Link</button>
    </div>
    <div class="row">
        <hr class="my-4">
        <h6 class="col-auto mx-5 p-0">Payement Partners</h6>
        <a class="col-auto mx-1 p-0"><img src="./assets/images/amazonpay.png"></a>
        <a class="col-auto mx-1 p-0"><img src="./assets/images/americanexpress.png"></a>
        <a class="col-auto mx-1 p-0"><img src="./assets/images/Mastercard.png"></a>
        <a class="col-auto mx-1 p-0"><img src="./assets/images/paypal.png"></a>
        <div class="col-3 mx-4"></div>
        <div class="col-4 ms-2 d-flex justify-content-left">
            <p class="col-auto mx-1">Get deliveries with FreshCart</p>
            <a class="col-auto"><img src="./assets/images/appstore.png"></a>
            <a class="col-auto mx-1"><img src="./assets/images/googleplay.png"></a>
        </div>
        <hr class="my-2">
        <div class="col-3 my-4"></div>
    </div>
    
</div>