<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
        
            <a class="navbar-brand" routerLink=""><img src="./assets/images/freshcart-logo.svg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="">Brands</a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex align">
            <li class="nav-item">
                <i class="nav-link fa-brands fa-facebook "></i>
            </li>
            <li class="nav-item">
                <i class="nav-link fa-brands fa-instagram"></i>
            </li>
            <li class="nav-item">
                <i class="nav-link fa-brands fa-twitter"></i>
            </li>
            <li class="nav-item">
                <i class="nav-link fa-brands fa-github"></i>
            </li>
            <li class="nav-item">
                <i class="nav-link fa-brands fa-youtube"></i>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link py-1" routerLinkActive="active" routerLink="register">SignOut</a>
            </li>
        </ul> 
    </div>
</nav>